.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #488dec;
    position: relative;
    /* /* box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    flex-direction: column;
  } 
  
  .form-group {
    width: 100%;
    font-size: 22px;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    justify-content: center;
    
  }
  
  .form-group input, 
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(100, 100, 111, 0.3);
    border-radius: 6px;
    margin: 10px 0px;
  }